*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    height: 100%;
    width: 100%;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    background: rgba(11, 13, 19, 0.7) url(assets/backgroundimage.png);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}*/

/* navigation menu */
#driver-head{
    padding: 60px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
#driver-head img{
    width: 20%;
}
#driver-head nav{
    margin: 0;
    padding: 0;
}
#driver-head nav ul{
    list-style: none;
}
#driver-head nav ul{
    display: inline-block;
    padding: 0 20px;
}
#driver-head a{
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
    opacity: 0.8;
}
#driver-head a:hover{
    text-decoration: none;
    font-weight: 700;
}
p{
    opacity: 0.7;
}
h3{
    opacity: 0.9;
}

/* contents */ 
.text-box{
    width: 68%;
    color: white;
    position: relative;
   /* bottom: 5px;
    left: 16%;*/
    
    text-align: left;
}
.text-box h1{
    font-size: 3.3rem;
    font-weight: 900;
}
.text-box p{
    margin-top: 1rem;
    font-size: 1.6rem;
    color: white;
}
.countdown-timer{
   /* bottom: 40px;
    right: 160px; */
    position: relative;
    padding: 10px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day,.hour,.minute,.second{
    width: 100px;
    height: 100px;
    margin: 1.5rem;
    font-size: 3rem;
    opacity: 0.5;
    color: white;
    background: #5E079B;
    border: 2px solid white;
    border-radius: 50%;
    padding: 20px;
}
h2{
    color: white;
    position: relative;
    right: 28%;
    text-align: center;
}
.form-item{
    display: flex;
    position: relative;
    top: 50%; 
    justify-content: center;
    align-items: center;
    right: 22%;

}

/* footer */
.footer{
    margin: 20px;
    text-align: center;
    color: white;
    opacity: 0.5;
}
.footer{
    margin-bottom: 0rem;
    font-weight: lighter;
    color: white;
    bottom: 1rem;
    position: relative;
}
.icons .fa{
    margin: 0 0.5em;
    cursor: pointer;
    padding: 1em 0;    
}
.icons{
    padding: 6rem 3rem;
    float: none;
    display: grid;
    text-align: right;
}
.icons a{
    font-size: 1.6rem;
    margin: 18px 10px 18px 10px;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1024px) {
        #driver-head nav ul{
        margin-top: -10px;
    }
        .text-box{
        color: white;
        position: relative;
       /* top: 5px;
        left: 17%;*/
    }
    .text-box h1{
        font-size: 3rem;
        font-weight: 900;
    }
    .text-box p{
        margin-top: 1rem;
        font-size: 1.6rem;
        color: white;
    }
    .countdown-timer{
       /* bottom: 120px; */
        right: 7%;
        position: relative;
        padding: 10px;
    }
    .day,.hour,.minute,.second{
        width: 100px;
        height: 100px;
        margin: 1.5rem;
        font-size: 3rem;
    }
    h2{
        color: white;
        position: relative;
       /* bottom: 70px;
        right: 26%;*/
    }
    .form-item {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
      /*  right: 22%;    
        top: 50%; */

    }
    .footer{
        margin: 20px;
        text-align: center;
        color: white;
        opacity: 0.5;
    }
    .footer{
        margin-bottom: 0rem;
        font-weight: lighter;
        color: white;
        bottom: 2rem;
        position: relative;
    }
    .icons{
        padding: 1rem 3rem 6rem;
    }
}

/* tablet devices */
@media only screen and (max-width: 768px){
    .text-box{
        color: white;
       /* left: 11%;*/
    }
    .text-box h1{
        font-size: 2rem;
        font-weight: 900;
    }
    .text-box p{
        margin-top: 1rem;
        font-size: 1rem;
        color: white;
    }
    .countdown-timer{
     /*   bottom: 80px;
        right: 9%;*/
        padding: 10px;
        color: white;
    }
    .day,.hour,.minute,.second{
        width: 75px;
        height: 75px;
        margin: 0.8rem;
        font-size: 1.5rem;
    }
    h2{
       /* bottom: 30px;
        right: 27%;*/
    }
    .footer{
        bottom: 3rem;
    }
}

/* phone devices */
@media only screen and (max-width: 600px){
    .text-box{
       /* left: 7%;*/
    }
    .text-box h1{
        font-size: 1.42rem;
        font-weight: 900;
    }
    .text-box p{
        margin-top: 1rem;
        font-size: 0.92rem;
    }
    h2{
       /* bottom: 60px;
        right: 26%;*/
    }
    .icons{
        display: contents;
    }
    .countdown-timer{
        /*right: 10%;
        bottom: 105px;*/
        padding: 10px;
        display: flex;
        color: white;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .day,.hour,.minute,.second{
        width: 60px;
        height: 60px;
        margin: 0.4rem;
        font-size: 1.1rem;
        color: white;
        background: #5E079B;
        border: 2px solid white;
        border-radius: 50%;
        padding: 17px;
    }
    h3{
        font-size: 0.8rem;
    }
    .footer{
        bottom: -8rem;
        margin-bottom: 10rem;
        color: white;
        position: relative;
    }
}

/* phone device */
@media only screen and (max-width: 320px){
    .text-box{
       /* bottom: 60px;
        right: 50%;*/
    }
    .text-box h1{
        font-size: 1.8rem;
        font-weight: 900;
    }
    .countdown-timer{
        top: 9px;
       /* right: 15%;*/
    }
    h2{
      /*  top: 25px;
        right: 28%;*/
    }
    .form-item{
       /* top:11rem;
        left: 13%;*/
    }
    .day,.hour,.minute,.second{
        width: 55px;
        height: 55px;
        padding: 12px;
    }
}
