*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
body{
    background: rgba(11, 13, 19, 0.7) url(assets//backgroundimage.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    font-family: 'Montserrat', sans-serif;
}

/* navigation menu */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    align-items: center;
}
nav img{
    width: 120px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 1em 0.5em;
    position: relative;
}
.nav-links ul li a{
    color: #5E079B;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}
.nav-links ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background: #FD7F00;
    display: block;
    margin: auto;
    transition: 1s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
p{
    opacity: 0.7;
}

/* contents */ 
.text-box{
    width: 66%;
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.text-box h1{
    font-size: 2.8rem;
    font-weight: 900;
}
.text-box p{
    margin-top: 1rem;
    font-size: 1.3em;
    color: white;
}
.countdown-timer{
    width: 81%;
    position: relative;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day,.hour,.minute,.second{
    width: 100px;
    height: 100px;
    margin: 1.5rem;
    font-size: 3rem;
    color: white;
    background: #5E079B;
    border: 2px solid white;
    border-radius: 50%;
    padding: 20px;
}

/* footer */
.footer{
    margin: 20px;
    text-align: center;
    color: white;
    opacity: 0.5;
}
.footer{
    margin-bottom: 1.5rem;
    font-weight: lighter;
    color: white;
    bottom: 2rem;
    position: relative;
}
.icons .fa{
    margin: 0 0.5em;
    cursor: pointer;
    padding: 1em 0;    
}
.icons{
    padding: 80px;
    float: none;
    display: grid;
    text-align: right;
}
.icons a{
    font-size: 1.6rem;
    margin: 18px 10px 18px 10px;
    text-decoration: none;
    color: white;
}

/* tablet devices */
@media screen and (max-width: 768px){
    nav{
        display: flex;
        padding: 3% 6%;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        align-items: center;
    }
    nav img{
        width: 120px;
    }
    .text-box{
        width: 88%;
        color: white;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: left;
    }
    .text-box h1{
        font-size: 2.5rem;
        font-weight: 900;
    }
    .text-box p{
        margin-top: 1rem;
        font-size: 1.1rem;
        color: white;
    }
    .icons{
        padding: 15px;
        float: none;
        display: grid;
        text-align: right;
    }
}

/* phone devices */
@media screen and (max-width: 425px){
    nav{
        display: flex;
        padding: 6% 6%;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        align-items: center;
    }
    nav img{
        width: 120px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #FD7F00;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul li::after{
        background: #5E079B;
    }
    nav .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .text-box{
        width: 88%;
        color: white;
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: left;
    }
    .text-box h1{
        font-size: 1.7rem;
        font-weight: 900;
    }
    .text-box p{
        margin-top: 1rem;
        font-size: 0.8rem;
        color: white;
    }
    .icons{
        display: contents;
    }
}

/* phone devices (landscape mode) */
@media screen and (orientation:landscape) and (max-width: 1024px){
    .text-box{
        width: 88%;
        color: white;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: left;
    }
    .text-box h1{
        font-size: 2rem;
        font-weight: 900;
    }
}
