*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
#myContainer{
    background: rgba(9, 9, 10, 0.6) url(assets//backgroundimage.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

/* navigation */
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    align-items: center;
}
nav img{
    width: 100px;
}
p{
    opacity: 0.7;
}
h3{
    margin-bottom: 3rem;
}

/* contents */ 
.text-box{
    width: 68%;
    color: white;
    position: relative;
    top: 35px;
    left: 14%;
    text-align: left;
}
.text-box h1{
    font-size: 3rem;
    font-weight: 900;
}
.text-box p{
    margin-top: 2rem;
    font-size: 1.47rem;
    color: white;
}
.countdown-timer{
    top: 40px;
    right: 18%;
    position: relative;
    padding: 10px;
    font-size: 0.8rem;
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day,.hour,.minute,.seconds{
    width: 83px;
    height: 83px;
    margin: 1.3rem;
    font-size: 1.4rem;
    color: white;
    background: rgba(64, 29, 88, 0.5);
    border: 1px solid white;
    border-radius: 50%;
    padding: 25px;
}
.updates{
    color: white;
    position: relative;
    right: 32%;
    font-size: 0.7rem;
    top: 30px;
    text-align: center;
}
.form-item{
    display: flex;
    position: relative;
    top: 60px;
    justify-content: center;
    align-items: center;
    right: 14%;
}
input{
    border: none;
    padding: 0px 0px 12px 0px;
    width: 32%;
    font-size: 1rem;
    border-bottom: 2px solid #FD7F00;
    border-radius: none;
    outline: none;
    background: none;
    color: white;
}
#item button{
    background-color: #fd7f00;
    width: 12%;
    padding: 18px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 3%;
    bottom: 10px;
    transition: all 1s;
}
#item button:hover{
    opacity: 0.5;
}
.Modal{
    -webkit-transition: 1s;
    overflow: auto;
    transition: all 0.2s linear;
    opacity: 0.9;
    position: fixed;
    bottom: 26rem;
}
.Modal-content{
    background-color: #C0C0C0;
    color: #000000;
    border: 0.5px solid #aaa;
    position: fixed;
    padding: 50px;
    width: 55%;
    height: 355px;
    left: 22%;
    overflow: hidden;
    border-radius: 45px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.ModalOpen{
    overflow: auto;
}
.is-hidden{
    display: none;
}
.is-visuallyhidden{
    opacity: 0;
}
#confirm button{
    background-color: #5E079B;
    border-radius: 20px;
    color: white;
    padding: 19px;
    margin-top: 20px;
    text-align: center;
    width: 31%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 1s;
}
#confirm .message{
    text-align: center;
}
.message{
    font-size: 1.8rem;
}
.is-blurred{
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
#confirm button:hover{
    opacity: 0.5;
}
.footer{
    text-align: center;
    color: white;
    opacity: 0.5;
}
.footer{
    margin-top: 9rem;
    font-weight: lighter;
    color: white;
    bottom: 2rem;
    position: relative;
}
.footer p{
    font-size: 1rem;
}
.icons{
    position: relative;
    display: flex;
    padding: 0rem 4rem 0rem;
    align-items: center;
    justify-content: center;
}
.icons a{
    font-size: 2rem;
    margin: 8px 10px 18px 10px;
    text-decoration: none;
    color: white;
}

@media (max-width: 1024px){
    .countdown-timer{
        right: 13%;
    }
    .updates{
        right: 30%;
    }
}

/* tablet view */
@media (max-width: 768px){
    .text-box{
        left: 10%;
    }
    .text-box h1{
        font-size: 2rem;
    }
    .text-box p{
        margin-top: 1.2rem;
        font-size: 1rem;
    }
    .countdown-timer{
        top: 50px;
        right: 23%;
        font-size: 0.6rem;
    }
    .day,.hour,.minute,.seconds{
        width: 45px;
        height: 45px;
        margin: 0.8rem;
        padding: 15px;
        font-size: 0.8rem;
    }
    .updates{
        right: 33%;
        font-size: 0.7rem;
        top: 35px;
    }
    input{
        width: 35%;
    }
    .form-item{
        top: 60px;
        right: 15%;
    }
    .Modal{
        bottom: 26rem;
    }
    .Modal-content{
        height: 275px;
        width: 55%;
        left: 20%;
        padding: 45px;
    }
    #confirm .message{
        font-size: 1.2rem;
    }
    #item button{
        width: 15%;
        padding: 15px;
        left: 3%;
        bottom: 6px;
    }
    #confirm button{
        padding: 15px;
        width: 35%;
        font-size: 1rem;
        border-radius: 15px;
    }
    .icons a{
        font-size: 1.5rem;
    }
    .footer p{
        font-size: 0.8rem;
    }
}

@media (orientation: portrait) and (max-width: 600px){
    .text-box h1{
        font-size: 1.5rem;
    }
    .text-box p{
        font-size: 0.8rem;
    }
    .countdown-timer{
        right: 13%;
    }
    .updates{
        right: 29%;
    }
    .form-item{
        right: 11%;
    }
    input{
        padding: 0px 0px 5px 0px;
        font-size: 0.8rem;
    }
    #item button{
        width: 23%;
        padding: 11px;
        border-radius: 15px;
    }
    .Modal{
        bottom: 28rem;
    }
    .Modal-content{
        height: 290px;
        width: 70%;
        padding: 45px;
        left: 15%;
    }
}

/* mobile view */
@media (max-width: 475px){
    nav img{
        width: 100px;
    }
    .text-box{
        left: 5%;
        top: 35px;
    }
    .text-box h1{
        font-size: 3.3rem;
        font-weight: 900;
    }
    .text-box p{
        margin-top: 1rem;
        font-size: 0.7rem;
    }
    .updates{
        right: 33%;
        top: 10px;
        font-size: 0.6rem;
    }
    .countdown-timer{
        right: 15%;
        top: 40px;
        padding: 10px;
    }
    .day,.hour,.minute,.seconds{
        width: 50px;
        height: 50px;
        margin: 0.6rem;
        font-size: 0.9rem;
        padding: 15px;
    }
    h3{
        font-size: 0.7rem;
    }
    input{
        width: 50%;
        right: 5%;
    }
    #item button{
        width: 30%;
        padding: 13px;
        left: -213px;
        top: 70px;
    }
    .form-item{
        top: 15px;
        right: 4%;
    }
    .Modal{
        bottom: 24rem;
    }
    .Modal-content{
        height: 245px;
        left: 10%;
        width: 79%;
        padding: 25px;
    }
    #confirm button{
        left: 0px;
        padding: 15px;
        border-radius: 15px;
        margin-top: unset;
        width: 50%;
        bottom: 5px;
        top: 0px;
    }
    .footer{
        bottom: 1rem;
        margin-bottom: 0rem;
    }
    .icons a{
        font-size: 1.3rem;
        padding: 10px;
    }
    .footer p{
        font-size: 0.8rem;
    }
}

@media (orientation: landscape) and (max-width: 550px){
    .text-box h1{
        font-size: 1.5rem;
    }
    .text-box p{
        font-size: 0.8rem;
    }
    .countdown-timer{
        right: 16%;
    }
    .updates{
        font-size: 0.6rem;
        right: 31%;
    }
    .form-item{
        right: 11%;
    }
    input{
        padding: 0px 0px 5px 0px;
        font-size: 0.8rem;
    }
    #item button{
        width: 23%;
        border-radius: 16px;
    }
    .Modal{
        bottom: 20rem;
    }
    .Modal-content{
        height: 250px;
        width: 70%;
        left: 15%;
        padding: 38px;
    }
    #confirm button{
        margin-top: unset;
    }
}

@media (max-width: 320px){
    nav{
        padding:6% 6% ;
    }
    nav img{
        width: 80px;
    }
    .text-box{
        top: 30px;
        left: 6%;
    }
    .text-box h1 {
        font-size: 1rem;
    }
    .text-box p{
        font-size: 8px;
    }
    h3{
        font-size: 0.6rem;
    }
    .countdown-timer{
        top: 35px;
        right: 15%;
    }
    .day,.hour,.minute,.seconds{
        width: 35px;
        height: 35px;
        font-size: 0.7rem;
        padding: 10px;
        margin: 8px;
    }
    .updates{
        top: 10px;
        right: 31%;
        font-size: 8px;
    }
    .form-item{
        top: 20px;
        right: 0%;
    }
    input{
        width: 55%;
        font-size: 0.8rem;
    }
    #item button{
        left: -178px;
        border-radius: 14px;
        padding: 15px;
        font-size: 0.8rem;
    }
    .Modal{
        bottom: 24rem;
    }
    .Modal-content{
        width: 86%;
        left: 7%;
        height: 220px;
        padding: 20px;
    }
    #confirm .message{
        font-size: 1.1rem;
    }
    #confirm button{
        top: -20px;
        font-size: 0.8rem;
        padding: 12px;
    }
    .footer p{
        font-size: 0.7rem;
    } 
}
